*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root{

    --Darkcyan:hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);


    /* font */
  --para-font-size: 14px;
  --font-family1: "Montserrat", sans-serif;
  --font-family2: "Fraunces", serif;
}



body{
    background-color: var(--Cream);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
 
    
    
}

.grid_container{
   
    width: 600px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    align-items: center; 
    background-color: var(--White); 
    gap: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

 .left_container img{
    
    width: 100%;
    border-radius: 25px 0px 0px 25px; 
    object-fit:contain;
   
   
} 



.right_desc{
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

h1{
    font-family: var(--font-family2);
    font-weight: 700;
    font-size: 1.9rem;
    color: var(--Verydarkblue);
} 

.price_sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

h3{
    color: var(--Darkgrayishblue);
    letter-spacing: 3px;
}

p{
    color: var(--Darkgrayishblue);
    font-size: var(--para-font-size);
  /* line-height: 1.6rem;
  color: var(--dark-grayish-blue); */
  font-family: var(--font-family1);
}

h4{
    color: var(--Darkgrayishblue);
    text-decoration: line-through;
}

.dollar_h1{
  font-size: 1.9rem;
  font-family: var(--font-family2);
  font-weight: 700;
  color: var(--dark-cyan);
}

 
button{
    width: 225px;
    background-color: var(--Darkcyan);
    color: var(--White);
    border-radius: 10px;
    padding: 10px 0;
    border: 1px solid;
    font-family: var(--font-family1);
    cursor: pointer;
}

button img{
    margin-right: 10px;
}


/* Media Query */

@media(max-width: 767px){

.grid_container{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    
}

.left_container img{
    
     width: 100%; 
    
    border-radius: 25px 25px 0px 0px; 
    object-fit:contain;
   
}

.right_desc{
    font-size: 1.8rem;
    padding: 20px;
    gap: 25px;
}
button{
    width: 100%;
}
}

@media(max-width: 412px){

    body{
        height: 100vh;
        overflow: auto;
    }
    .grid_container{
        width: 90%;
        height: 90%;
    }
    h4{
        font-size: 1rem;
    }
    p{
        line-height: 1.6rem;
    }
    h3{
        font-size: 12px;
    }
}